@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.9842 0.0034 247.8575;
    --foreground: 0.2433 0.0247 263.9506;
    --card: 1 0 0;
    --card-foreground: 0.2433 0.0247 263.9506;
    --popover: 1 0 0;
    --popover-foreground: 0.2433 0.0247 263.9506;
    --primary: 0.6231 0.188 259.8145;
    --primary-foreground: 1 0 0;
    --secondary: 0.9288 0.0126 255.5078;
    --secondary-foreground: 0.4455 0.0374 257.2808;
    --muted: 0.9683 0.0069 247.8956;
    --muted-foreground: 0.5544 0.0407 257.4166;
    --accent: 0.9493 0.0202 216.1968;
    --accent-foreground: 0.5109 0.0861 186.3914;
    --destructive: 0.6368 0.2078 25.3313;
    --destructive-foreground: 1 0 0;
    --border: 0.9288 0.0126 255.5078;
    --input: 0.9842 0.0034 247.8575;
    --ring: 0.6231 0.188 259.8145;
    --chart-1: 0.6231 0.188 259.8145;
    --chart-2: 0.5854 0.2041 277.1173;
    --chart-3: 0.6959 0.1491 162.4796;
    --chart-4: 0.7686 0.1647 70.0804;
    --chart-5: 0.6368 0.2078 25.3313;
    --sidebar: 1 0 0;
    --sidebar-foreground: 0.2433 0.0247 263.9506;
    --sidebar-primary: 0.6231 0.188 259.8145;
    --sidebar-primary-foreground: 1 0 0;
    --sidebar-accent: 0.9493 0.0202 216.1968;
    --sidebar-accent-foreground: 0.5109 0.0861 186.3914;
    --sidebar-border: 0.9288 0.0126 255.5078;
    --sidebar-ring: 0.6231 0.188 259.8145;
    --radius: 0.5rem;
    --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
      0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
      0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .dark {
    --background: 0.2077 0.0398 265.7549;
    --foreground: 0.9288 0.0126 255.5078;
    --card: 0.2795 0.0368 260.031;
    --card-foreground: 0.9288 0.0126 255.5078;
    --popover: 0.2795 0.0368 260.031;
    --popover-foreground: 0.9288 0.0126 255.5078;
    --primary: 0.7137 0.1434 254.624;
    --primary-foreground: 0.2077 0.0398 265.7549;
    --secondary: 0.3717 0.0392 257.287;
    --secondary-foreground: 0.869 0.0198 252.8943;
    --muted: 0.2795 0.0368 260.031;
    --muted-foreground: 0.7107 0.0351 256.7878;
    --accent: 0.5109 0.0861 186.3914;
    --accent-foreground: 0.9493 0.0202 216.1968;
    --destructive: 0.6368 0.2078 25.3313;
    --destructive-foreground: 1 0 0;
    --border: 0.3717 0.0392 257.287;
    --input: 0.2077 0.0398 265.7549;
    --ring: 0.7137 0.1434 254.624;
    --chart-1: 0.7137 0.1434 254.624;
    --chart-2: 0.6801 0.1583 276.9349;
    --chart-3: 0.7729 0.1535 163.2231;
    --chart-4: 0.879 0.1534 91.6054;
    --chart-5: 0.6368 0.2078 25.3313;
    --sidebar: 0.2077 0.0398 265.7549;
    --sidebar-foreground: 0.9288 0.0126 255.5078;
    --sidebar-primary: 0.7137 0.1434 254.624;
    --sidebar-primary-foreground: 0.2077 0.0398 265.7549;
    --sidebar-accent: 0.5109 0.0861 186.3914;
    --sidebar-accent-foreground: 0.9493 0.0202 216.1968;
    --sidebar-border: 0.3717 0.0392 257.287;
    --sidebar-ring: 0.7137 0.1434 254.624;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
